/* Bebas Neue font face */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Montserrat font face */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Titillium Web font face */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.header {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a {
  border-bottom: solid 2px transparent;
  transition: border-bottom 0.2s ease-in-out;
}

a.active {
  border-bottom: solid 2px #2982c4;
}
