/* Bebas Neue font face */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Montserrat font face */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Titillium Web font face */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.kpi-number {
  font-size: max(2.5vw, 35px);
  line-height: 1;
}

.kpi-name {
  font-size: max(1.5vw, 28px);
  line-height: 1;
}

.kpi-description {
  font-family: 'Bebas Neue', sans-serif;
  font-size: max(1.2vw, 16px);
}
