/* Bebas Neue font face */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Montserrat font face */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Titillium Web font face */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.header-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: max(36px, 2.6vw);
  letter-spacing: 4px;
  color: white;
}

.dark-gray {
  color: #404040;
}
