<div class="row sky">
  <div class="col-12">
    <app-header class="text-white"></app-header>
    <div class="row justify-content-center pt-5">
      <div class="col-lg-6 d-flex">
        <p class="header-text my-auto">
          Notre offre est composée de plusieurs<br>
          services qui sont essentiels pour<br>
          votre <span class="dark-gray">développement des affaires.</span>
        </p>
      </div>
      <div class="col-lg-5 p-5">
        <img class="w-100" src="assets/header-plane.png" alt="paper plane">
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="row justify-content-center">
    <div class="col-11 col-lg-5 text-center py-4">
      <div class="d-flex py-2">
        <div class="icon-circle mx-auto">
          <img src="assets/paper.png" alt="plane icon">
        </div>
      </div>
      <h2 class="section-title py-2">SOUTIEN JURIDIQUE<br>&nbsp;</h2>
      <p class="paragraph py-2">
        Nous fournissons l’accès à une assistance
        juridique et aux conseils pour l’ensemble
        de nos startups.
        Ça peut toucher la propriété intellectuelle,
        le processus d’enregistrement de la société
        ou la rédaction des contrats et des accords.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-11 col-lg-5 text-center py-4">
      <div class="d-flex py-2">
        <div class="icon-circle mx-auto">
          <img src="assets/think.png" alt="plane icon">
        </div>
      </div>
      <h2 class="section-title py-2">CONSEIL EN INVESTISSEMENT &<br> LEVÉE DE FONDS</h2>
      <p class="paragraph py-2">
        Nous fournissons un accès à des fonds d’amorçage et des capitaux-risque pour
        développer le démarrage et la commercialisation de vos produits; nous représentons un catalyseur essentiel à l’atteinte de jalons spécifiques.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 col-lg-5 text-center py-4">
      <div class="d-flex py-2">
        <div class="icon-circle mx-auto">
          <img src="assets/plane.png" alt="plane icon">
        </div>
      </div>
      <h2 class="section-title py-2">FORMATION ET ATELIERS<br>&nbsp;</h2>
      <p class="paragraph py-2">
        Nous fournissons des sessions de formation
        assurées par divers experts, chefs d’entreprise et des partenaires académiques pour transférer
        certaines des meilleures pratiques, ainsi que les outils et les ressources nécessaires pour que nos startups se développent et se positionnent dans un marché concurrentiel.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-11 col-lg-5 text-center py-4">
      <div class="d-flex py-2">
        <div class="icon-circle mx-auto">
          <img src="assets/plane.png" alt="plane icon">
        </div>
      </div>
      <h2 class="section-title py-2">NETWORKING & PUBLICITÉ<br>&nbsp;</h2>
      <p class="paragraph py-2">
        Nous avons un vaste réseau de mentors, experts, investisseurs, ONG, universités, entités
        gouvernementales des médias, des
        entrepreneurs, des partenaires et des sponsors, nous construisons des liens étroits avec toutes
        les parties prenantes de l’écosystème.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 col-lg-5 text-center py-4">
      <div class="d-flex py-2">
        <div class="icon-circle mx-auto">
          <img src="assets/team-3.png" alt="plane icon">
        </div>
      </div>
      <h2 class="section-title py-2">MENTORS, ENTRAÎNEURS & EXPERTS<br>&nbsp;</h2>
      <p class="paragraph py-2">
        Pour aider les startups façonnent leurs produits et d’obtenir l’accès au marché, nous leur
        fournissons des mentors et des experts qui ont une expertise profonde et sont au sommet de leurs champs (sous forme de tables rondes intimes,
        en tête-à-tête, du temps informel ensemble).
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-11 col-lg-5 text-center py-4">
      <div class="d-flex py-2">
        <div class="icon-circle mx-auto">
          <img src="assets/network.png" alt="plane icon">
        </div>
      </div>
      <h2 class="section-title py-2">ENVIRONNEMENT COLLABORATIF<br>&nbsp;</h2>
      <p class="paragraph py-2">
        Les startups auront accès à un environnement collaboratif, et auront la possibilité de coopérer. l’environnement est conçu pour faciliter
        l’interaction et la productivité.
      </p>
    </div>
  </div>
</div>
