<div class="row sky">
  <div class="col-12">
    <app-header class="text-white"></app-header>
    <div class="row justify-content-center pt-5">
      <div class="col-lg-7 d-flex">
        <h1 class="header-text mt-lg-5">
          Critères d'éligibilité pour le programme de Start’act
        </h1>
      </div>
      <div class="col-lg-3">
        <img class="w-100" src="assets/header-plane.png" alt="paper plane">
      </div>
    </div>
    <div class="criterea-container">
      <div class="row mb-4 justify-content-center">
        <div class="col-lg-3 text-center">
          <img class="circle-image" src="assets/icons/icon-1.png" alt="min">
          <h4 class="circle-title mt-3">
            Au minimum 2 fondateurs
          </h4>
        </div>
        <div class="col-lg-3 text-center">
          <img class="circle-image" src="assets/icons/icon-2.png" alt="min">
          <h4 class="circle-title mt-3">
            Produit, service ou process innovant
          </h4>
        </div>
        <div class="col-lg-3 text-center">
          <img class="circle-image" src="assets/icons/icon-3.png" alt="min">
          <h4 class="circle-title mt-3">
            Équipe multidisciplinaire
          </h4>
        </div>
      </div>
      <div class="row mb-4 justify-content-center">
        <div class="col-lg-3 text-center">
          <img class="circle-image" src="assets/icons/icon-4.png" alt="min">
          <h4 class="circle-title mt-3">
            Proof of concept ou prototype
          </h4>
        </div>
        <div class="col-lg-3 text-center">
          <img class="circle-image" src="assets/icons/icon-5.png" alt="min">
          <h4 class="circle-title mt-3">
            Marché a forte croissance et produit adaptable à l'évolution de la demande
          </h4>
        </div>
        <div class="col-lg-3 text-center">
          <img class="circle-image" src="assets/icons/icon-6.png" alt="min">
          <h4 class="circle-title mt-3">
            Time to market < 1 year
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="row justify-content-center">
    <div class="col-11">
      <h2 class="section-title orange-title pb-2">Secteurs Cibles</h2>
    </div>
  </div>
  <div class="row mb-4 justify-content-center">
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-1.png" alt="min">
      <h4 class="detail-title mt-3">
        Cyber security
      </h4>
    </div>
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-2.png" alt="min">
      <h4 class="detail-title mt-3">
        Big data
      </h4>
    </div>
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-3.png" alt="min">
      <h4 class="detail-title mt-3">
        Fintech
      </h4>
    </div>
  </div>
  <div class="row mb-4 justify-content-center">
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-4.png" alt="min">
      <h4 class="detail-title mt-3">
        Transport intelligent
      </h4>
    </div>
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-5.png" alt="min">
      <h4 class="detail-title mt-3">
        Culture & Médias
      </h4>
    </div>
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-6.png" alt="min">
      <h4 class="detail-title mt-3">
        Internet of Things
      </h4>
    </div>
  </div>
  <div class="row mb-4 justify-content-center">
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-7.png" alt="min">
      <h4 class="detail-title mt-3">
        Health & E-health
      </h4>
    </div>
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-8.png" alt="min">
      <h4 class="detail-title mt-3">
        Biotechnologie
      </h4>
    </div>
    <div class="col-lg-3 text-center">
      <img class="circle-image" src="assets/icons/bottom-icons/icon-9.png" alt="min">
      <h4 class="detail-title mt-3">
        Renewable energy & water ressources
      </h4>
    </div>
  </div>
</div>
