<div>

  <app-header></app-header>

  <div class="row justify-content-center">
    <div class="col-lg-auto d-flex">
      <div class="my-auto mx-auto">
        <div class="text-center py-4">
          <button class="start-btn">
            APPLY NOW
          </button>
        </div>
        <h2 class="title">
          Postuler à la {{settings?.edition}}ème édition
          <br>
          du programme
          <br>
          Strat’Act
        </h2>
        <p class="header-paragraph">
          Start'Act Business Accelerator assistera et <br>
          soutiendra les entrepreneurs tout au long des <br>
          premières étapes critiques de la commercialisation<br>
          et du développement.
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="header-image" src="assets/layer-1.jpg" alt="layer">
    </div>
  </div>

  <app-initiators></app-initiators>

  <div class="py-5" id="introduction">
    <div class="row justify-content-center">
      <div class="col-11">
        <h2 class="section-title pb-2">QUI SOMMES-NOUS ?</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="row">
          <div class="row justify-content-center">
            <div class="col-lg who-are-we d-flex">
              <div class="my-auto py-5 py-lg-0 text-center">
                <p class="paragraph">
                  Start’Act est un accélérateur de Startups initié par
                  Carthage Business Angels et soutenu par le ministère des
                  finances et par l’agence française de développement.
                </p>
                <p class="paragraph">
                  La mission de Start’Act est d’amorcer le lancement de
                  nouvelles startups et l’accélération de leur développement.
                </p>
              </div>
            </div>
            <div class="col-lg d-flex">
              <div class="my-auto text-center">
                <p class="paragraph">
                  L’objectif de Start’Act est:
                </p>
                <p class="paragraph">
                  Accélérer l’accès au marché et la croissance des Startups
                  innovantes récemment créées.startactarrow Start’Act est un programme d’accélération et d’accompagnement immersif et totalement personnalisé qui comprend : un accès au
                  Business Angels et aux investisseurs, de la formation, une assistance technique de haut niveau, de la mise en relation, de la visibilité ainsi que de l’assistance légale.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="row justify-content-center">
      <div class="col-11">
        <h2 class="section-title pb-2">Les points forts du programme</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="row justify-content-center">
          <div class="col-lg">
            <div class="text-center">
              <img src="assets/icons/home-icons/icon-1.png" alt="financement">
            </div>
            <div class="program-point py-4">
              <h4>Financement</h4>
              <p>
                - Matching Experts - Startups
              </p>
              <p>
                - Identification des besoins des startups
              </p>
              <p>
                - Préparation des plans de développement stratégiques
              </p>
            </div>
          </div>
          <div class="col-lg">
            <div class="text-center">
              <img src="assets/icons/home-icons/icon-2.png" alt="financement">
            </div>
            <div class="program-point py-4">
              <h4>Evaluation days (3jours)</h4>
              <p>
                - Matching Experts - Startups
              </p>
              <p>
                - Identification des besoins des startups
              </p>
              <p>
                - Préparation des plans de développement stratégiques
              </p>
              <h4>Bootcamp (3jours)</h4>
              <p>
                Programme enrichissant:
              </p>
              <p>
                - Activités pour développer les soft skills
              </p>
              <p>
                - Améliorer le pitch
              </p>
            </div>
          </div>
          <div class="col-lg">
            <div class="text-center">
              <img src="assets/icons/home-icons/icon-3.png" alt="financement">
            </div>
            <div class="program-point py-4">
              <h4>Networking & Opportunites</h4>
              <p>
                - Participation à des évènements & mise en contact avec de nombreux investisseurs & acteurs de l’écosystème
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg">
            <div class="text-center">
              <img src="assets/icons/home-icons/icon-4.png" alt="networking & opportunites">
            </div>
            <div class="program-point py-4">
              <h4>Une entrée en capital interessante</h4>
              <p>
                - 15 % dans l’entreprise
              </p>
            </div>
          </div>
          <div class="col-lg">
            <div class="text-center">
              <img src="assets/icons/home-icons/icon-5.png" alt="financement">
            </div>
            <div class="program-point py-4">
              <h4>Incubation & accompagnement complet (6mois)</h4>
              <p>
                - Formations techniques & transversales
              </p>
              <p>
                - Programme personalisé & adapté aux besoins spécifiques des équipes
              </p>
              <p>
                - Espaces et équipements dédiés
              </p>
            </div>
          </div>
          <div class="col-lg">
            <div class="text-center">
              <img src="assets/icons/home-icons/icon-6.png" alt="financement">
            </div>
            <div class="program-point py-4">
              <h4>Mentorat personnalisé</h4>
              <p>
                - Coachs & experts à disposition
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-partners></app-partners>

  <div id="process" class="row justify-content-center pb-5">
    <div class="col-11 col-lg-6 pt-5">
      <img class="w-100" src="assets/processus-de-start-act.png" alt="processus de start act">
    </div>
    <div class="col-11 col-lg-5 d-flex">
      <div class="my-auto">
        <h2 class="section-title pb-2">Processus</h2>
        <p class="paragraph">
          Pour participer au programme Start’Act, il suffit de postuler lors des appels à candidature que nous lançons 2 fois par an ! Vous soumettez votre projets en répondant à un questionnaire simple. Dès la clôture de l'appel à candidature, le comité de préselection procède à l'analyse des dossiers et choisit les projets qui participeront à 3 jours de Bootcamp! à l'issu de ce Bootcamp les présélectionnés assistent au pitch Day afin de présenter leurs projets aux membres du jury qui choisiront les gagnants de l’édition !
        </p>
      </div>
    </div>
  </div>

  <app-kpis></app-kpis>

  <app-startups></app-startups>

  <div id="media">
    <app-media></app-media>
  </div>

  <div id="contact">
    <app-question></app-question>
  </div>

  <div class="row">
    <div class="col p-0">
      <agm-map [latitude]="36.86" [longitude]="10.16" [zoom]="15" style="width: 100%; height: 420px"></agm-map>
    </div>
  </div>

</div>
