<div class="row ">
  <div class="col-12">
    <app-header></app-header>
    <div class="row justify-content-center">
      <div class="col-lg-7 d-flex">
        <p class="header-text dark-gray my-auto">
          MENTORS ET EXPERTS
        </p>
      </div>
      <div class="col-lg-4 p-5">
        <img class="w-100" src="assets/mentor.jpg" alt="paper plane">
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="d-flex">
  <mat-spinner class="mx-auto"></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div *ngFor="let mentor of mentors, let i = index">
    <div *ngIf="!(i%2)" class="d-none d-lg-flex row justify-content-center">
      <div class="col-11 col-lg-5 my-4">
        <h3 class="mentor-name">{{ mentor?.name }}</h3>
        <p class="mentor-description">
          {{ mentor?.description }}
        </p>
        <p class="mentor-description">
          Domaines d’intervention : {{ mentor?.intervention_domaines }}
        </p>
      </div>
      <div class="col-11 col-lg-5 offset-lg-1 position-relative my-4">
        <img class="h-100" [src]="environment + mentor?.cover" [alt]="mentor?.name">
        <div class="mentor-image-container">
        </div>
      </div>
    </div>
    <div *ngIf="i%2" class="d-none d-lg-flex row justify-content-center">
      <div class="col-11 col-lg-5 position-relative my-4">
        <img class="h-100" [src]="environment + mentor?.cover" [alt]="mentor?.name">
        <div class="mentor-image-container">
        </div>
      </div>
      <div class="col-11 col-lg-5 offset-lg-1 my-4">
        <h3 class="mentor-name">{{ mentor?.name }}</h3>
        <p class="mentor-description">
          {{ mentor?.description }}
        </p>
        <p class="mentor-description">
          Domaines d’intervention : {{ mentor?.intervention_domaines }}
        </p>
      </div>
    </div>
    <div class="d-lg-none row justify-content-center">
      <div class="col-11 col-lg-5 position-relative my-4">
        <img class="h-100" [src]="environment + mentor?.cover" [alt]="mentor?.name">
        <div class="mentor-image-container">
        </div>
      </div>
      <div class="col-11 col-lg-5 offset-lg-1 my-4">
        <h3 class="mentor-name">{{ mentor?.name }}</h3>
        <p class="mentor-description">
          {{ mentor?.description }}
        </p>
        <p class="mentor-description">
          Domaines d’intervention : {{ mentor?.intervention_domaines }}
        </p>
      </div>
    </div>
  </div>
</div>
