<div class="row justify-content-center initiator-bg pt-5">
  <div class="col-11">
    <h2 class="section-title">LES INITIATEURS</h2>
  </div>
</div>
<div class="row justify-content-center initiator-bg pb-5">
  <div class="col-8 col-md-3 text-center py-4">
    <img class="initiator-image" src="assets/wiki-copy-2.png" alt="cba">
    <p class="detail-title mt-3">Incubateur du programme Start’Act depuis sa création.</p>
  </div>
  <div class="col-8 col-md-3 text-center py-4">
    <img class="initiator-image" src="assets/cba-copy-2.png" alt="cba">
    <p class="detail-title mt-3">Initiateur du programme depuis 2015</p>
  </div>
  <div class="col-8 col-md-3 text-center py-4">
    <img class="initiator-image" src="assets/ugfs.png" alt="cba">
    <p class="detail-title mt-3">Financeur des startups du programme Start’Act</p>
  </div>
</div>
