@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* Bebas Neue font face */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Montserrat font face */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Titillium Web font face */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.col-15 {
  @include make-col-ready();
  @include make-col(1.5);
}

button:focus {
  outline: none;
}

.start-btn {
  width: max(10vw, 200px);
  font-size: max(2vw, 22px);
  border-radius: max(2vw, 22px);
  border: none;
  height: max(2.4vw, 26px);
  line-height: 130%;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  background-color: #2982c4;
}

.start-btn:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}

.section-title {
  text-transform: uppercase;
  font-size: max(2.5vw, 30px);
  letter-spacing: 2px;
  color: #2b83c4;
}

.section-subtitle {
  text-transform: uppercase;
  font-size: max(1.5vw, 20px);
  letter-spacing: 2px;
  color: #2b83c4;
}

.kpi-container {
  background: #85A9C1 url('assets/kpis.jpg') no-repeat;
  background-size: cover;
  min-height: 34vw;
}

.bg-media {
  background: url("assets/rectangle-5.jpg") center no-repeat;
  object-fit: cover;
}

.image-slider .ng-image-slider {
  height: 550px !important;
}

.image-slider .main {
  height: 550px !important;
}

.image-slider .ng-image-slider-container .main {
  overflow-y: visible !important;
}

.image-slider .main-inner {
  height: 500px !important;
}

.image-slider .img-div {
  opacity: 0.4;
  font-size: 20px;
  transition: opacity 0.5s ease-in-out, font-size 0.2s ease-in-out;
}

.image-slider .img-div:hover {
  opacity: 1;
  font-size: 26px;
}

.image-slider .img-div img {
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 0 !important;
}

.image-slider .img-div:hover img {
  box-shadow: -16.1px 22.9px 27px 0 rgba(0, 1, 1, 0.25);
}

.image-slider .img-div .caption.ng-star-inserted {
  margin-bottom: -50px;
  height: 50px;
  padding: 0 !important;
  line-height: 50px;
  background: none !important;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.paragraph {
  font-size: max(0.95vw, 12px);
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.sky {
  background: url("assets/rectangle-3.jpg");
  object-fit: cover;
}

.icon-circle {
  width: max(7vw, 90px);
  height: max(7vw, 90px);
  background-color: #f39200;
  border-radius: 100%;
  text-align: center;
}

.icon-circle img {
  width: 55%;
  height: 100%;
  object-fit: contain;
}

.mentor-image-container {
  position: absolute;
  z-index: -1;
  background: url("assets/rectangle-4.jpg") bottom center no-repeat;
  height: 70%;
  bottom: 0;
  left: 0;
  right: 0;
}
