/* Bebas Neue font face */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Montserrat font face */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Titillium Web font face */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #272727;
  color: #ffffff;
}
